* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #171717;
  font-family: 'Fira Code', sans-serif;
  color: white;
  padding: 100px 50px;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.navigation {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}

.logo {
  font-size: 21px;
}

.menu {
  display: -webkit-box;
  display: flex;
  font-size: 16px;
  list-style: none;
}
.menu__item {
  margin-left: 40px;
}

.form-box {
  width: 459px;
  height: 493px;
  padding: 20px 55px;
  border: 2px solid white;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}
.form-box__title {
  font-size: 21px;
  margin: 0;
}
.form-box__info {
  font-size: 14px;
  font-weight: 300;
}

.form {
  margin-top: 45px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.form__text-input {
  font-family: 'Fira Code', sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: 15px 0;
}
.form__checkbox-label {
  font-size: 10px;
  font-weight: 300;
}
.form__button {
  margin-top: 50px;
  margin-bottom: 12px;
  background-color: white;
  border: none;
  font-size: 14px;
  padding: 10px 19px;
  font-weight: 600;
  display: block;
}

a,a:visited
{color: white;}
